@font-face {
    font-family: webfont;
    src: url("../fonts/fontawesome-webfont.woff");
}

* {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    font-family: webfont;
    font-size: 16px;
    font-weight: normal;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    font-weight: 400, 700;
    box-sizing: border-box;
    font-size: 16px;
}